Pandas DataFrame

1.DataFrame using list

In [1]:
import pandas as pd
lst=['tushar','is','coding','DataFrame','on','jupyter']
df=pd.DataFrame(lst)
print(df)

           0
0     tushar
1         is
2     coding
3  DataFrame
4         on
5    jupyter

2.DataFrame from dict of list

In [2]:
import pandas as pd
data={'name':['Manish','Shubham','Ankit','Mohit'],'age':[20,18,19,22]}
df=pd.DataFrame(data)
print(df)

      name  age
0   Manish   20
1  Shubham   18
2    Ankit   19
3    Mohit   22

3.Handling missing data

checking missing values using isnull() and notnull()

In [4]:
import pandas as pd
import numpy as np
dict={'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
df = pd.DataFrame(dict) 
df.isnull()

   First Score  Second Score  Third Score
0        False         False         True
1        False         False        False
2         True         False        False
3        False          True        False

filling missing values using fillna() function

In [5]:
import pandas as pd
import numpy as np
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
df = pd.DataFrame(dict)
df.fillna(0)

   First Score  Second Score  Third Score
0        100.0          30.0          0.0
1         90.0          45.0         40.0
2          0.0          56.0         80.0
3         95.0           0.0         98.0

Dropping missing values using dropna() function

In [6]:
import pandas as pd
import numpy as np
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, np.nan, 45, 56],
        'Third Score':[52, 40, 80, 98],
        'Fourth Score':[np.nan, np.nan, np.nan, 65]}
df = pd.DataFrame(dict)
df.dropna()

   First Score  Second Score  Third Score  Fourth Score
3         95.0          56.0           98          65.0